.header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    color: tomato;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}




.text-vid{
    display: inline-block;
    text-align: center;
    font-weight: 500px;
    
}


.video{
    display: flex;
    margin: 10px;
    padding-top: 0;
    flex-direction: column;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}

.project-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 254, 254);
      
} 

.watch-vid{
  margin: 20px;
}

.project-title{
    margin-top: 150px;
    display: inline-block;
}
.project-title h1{
    text-align: center;
    color: tomato;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-cards{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 50px;
    margin-top: 0px;
    padding-top: 10px;
    border: 1px solid #ecebf1;
    margin-top: 0;
    border-radius: .5rem;
    margin: 20px;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
    width: 150px;
         
}

.projects-cards h3{
    text-align: center;
    margin-top: 10px;
    color: black;      
}


.projects-cards a{
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;

}

.projects-cards button {
    display: flex;
    background-color: white;
    color: black;
    padding: 10px 32px;
    border: 1px solid #754ffe;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 50px;
    justify-content: center;

}

.projects-cards p{
   text-align: center;

}

.projects-cards button:hover{
    background-color: tomato;
    color: white;
}



