.header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    color: tomato;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}




.text-vid{
    display: inline-block;
    text-align: center;
    font-weight: 500px;
    
}


.video{
    display: flex;
    margin: 10px;
    padding-top: 0;
    flex-direction: column;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}

.project-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 254, 254);
    border-style: solid;
   
    
} 

.watch-vid{
  margin: 20px;
}

.project-title{
    margin-top: 150px;
    display: inline-block;
}
.project-title h1{
    text-align: center;
    color: tomato;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-cards{
    background-color: red;
    margin: 20px;
    padding: 80px;
}



