body{
    background-color: #f5f4f8;
    font-family: "Source Sans Pro",sans-serif;
}

@media (min-width:200px)

{
    .menu-bar{
    
        padding: 0;
        
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-around;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
       
    }


    h1
{
    color: tomato;
    font-size: 20px;
}
  

}

.title{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
    background-color: white;
    justify-content: center;
    background-color: #754ffe;
    

}
.bg-txt{
    
  
    width: 500px;
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    
    
}







.bg-img{

    width: 400px;
}



.title-2{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
    background-color: white;
    justify-content: space-around;
    background-color: #0d6efd;;
    margin-top: 70px;
    

}
.bg-txt-2{
    
  
    width: 500px;
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    
    
}

.buttons{

    display: flex;
  
    font-size:10px;
    margin-top: 50px;
    justify-content: space-around;
    
}

.buttons-container{
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #5c5776;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.6;
    padding: .75rem 1.25rem;
    text-align: center;
    
    
}

.buttons-a
{
    background-color: #19cb98;
    border-color: #19cb98;
    color: #fff;
    padding: 10px;
}


.bg-img-2{

    width: 150px;
    
}

.










.title h1{

    text-align: center;
    font-size: 30px;
    color: black;
}

.front-end-title{
    display: flex;
    margin-top: 50px;
     width: 100%;
    
    justify-content: center;
}







.main-container{

    width: 100%;
    margin-top: 40px;
    display: flex;
    height: 400px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    
}



.front-end{
    border: 1px solid #ecebf1;
    height: 400px;
    margin-top: 0;
    border-radius: .5rem;
    width: 280px;
    /*box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);*/

        margin: 20px;
        box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
        background-color: white;

        
        
}


    


.heading h3{
   
    text-align: center;
    background-color: aliceblue;
    margin: 0;
}

.image-container{
    
    height: 200px;
    
    
}

.image-container img{
    height: 200px;
    border-radius: 10px;
    width: 280px;
}

.items{
    justify-content: center;
    
    margin: 5px;
    
}

.button{
    display: flex;
    justify-content: center;
    
    border-top: 1px solid #ecebf1;

}


button{
    margin: 20px;
}