
@media (min-width:300px)
{
    body{
        background-color: #f5f4f8;
        font-family: "Source Sans Pro",sans-serif;
    }
}





    .menu-bar{
    
        padding: 0;
        
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-around;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
       
    }


    h1
{
    color: tomato;
    font-size: 20px;
}
  



.title{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
    background-color: white;
    justify-content: center;
    background-color: #754ffe;
    

}



    .bg-txt{
    
  
        width: 500px;
        padding: 20px;
        margin-top: 20px;
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        
        
    }

.bg-img img{
    width: 200px;
}





.title-2{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
    background-color: white;
    justify-content: space-around;
    background-color: #0d6efd;;
    margin-top: 70px;
    

}

.bg-backend img{
   width: 300px;
}


.bg-txt-2{
    
  
    width: 400px;
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    
    
}

.buttons{

    display: flex;
    font-size:10px;
    margin-top: 50px;
    justify-content: center;
    
}
.buttons-link{
  text-decoration: none;
   
}



.buttons-container{
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #5c5776;
    cursor: pointer;
    display: inline-block;
    font-size: .7rem;
    font-weight: 100;
    line-height: 1.6;
    padding: .75rem 1.25rem;
    text-align: center;
    
    
    
}



.buttons-container a{
    text-decoration: none;
    
}



.buttons-a
{
    background-color: #19cb98;
    border-color: #19cb98;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}


.buttons-a-first
{
    background-color: red;
    border-color: #19cb98;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}





.title h1{

    text-align: center;
    font-size: 30px;
    color: black;
}

.front-end-title{
    display: flex;
    margin-top: 50px;
     width: 100%;
    
    justify-content: center;
}


.main-container{

    width: 100%;
    margin-top: 40px;
    display: flex;
    height: 400px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    
}



.front-end{
    border: 1px solid #ecebf1;
    height: 400px;
    margin-top: 0;
    border-radius: .5rem;
    width: 280px;
    /*box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);*/

        margin: 20px;
        box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
        background-color: white;

        
        
}


    
.heading h3{
   
    text-align: center;
    background-color: aliceblue;
    margin-top: 0;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
}

.image-container{
    
    height: 200px;
    
    
}



.image-container img{
    height: 200px;
    border-radius: 10px;
    width: 280px;
}

.items{
    justify-content: center;
    margin: 5px;
   
    
    
}

.items ul{
    list-style-type: square;
    margin-top: 20px;
   
    
}

.items li {
    display: inline;
    padding: 1px;
    font-size: 12px;
    text-align: center;
    margin: 10px;

}








.button{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    border-top: 1px solid #ecebf1;
}


.button button{
    
    background-color: white;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #754ffe;
    font-size: 16px;
    margin: 16px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button button:hover{
    background-color: #754ffe;
    color: white;
}
